<!--<insite-table [headers]="headers" [tbodyTemplate]="portfolioTableBody"></insite-table>-->
<insite-table [headers]="headers" isSticky=true></insite-table>

<ng-template #portfolioTableBody >
    <tr style="border:1px solid black;height:50px;">
    <td  style="border:1px solid black"></td>
    <td  style="border:1px solid black"></td>
    <td  style="border:1px solid black"></td>
    <td  style="border:1px solid black"></td>
    </tr>

    <tr  style="border:1px solid black; height:50px;">
        <td  style="border:1px solid black"></td>
        <td  style="border:1px solid black"></td>
        <td  style="border:1px solid black"></td>
        <td  style="border:1px solid black"></td>
    </tr>
</ng-template>
