<table *ngIf="!isSticky">
  <thead table-head [headers]=headers (selectedFilter)='headerFilter($event)'></thead>
  <tbody 
  table-body 
  [data]=data
  [template]="tbodyTemplate"
  ></tbody> 
</table>

<div *ngIf="isSticky" [style.height.%]="height">
  <table>
      <thead table-head [headers]=headers (selectedFilter)='headerFilter($event)'></thead>
  </table>
  <div style="height:94%;overflow-y:scroll;">
    <table>
        <tbody 
        table-body 
        [data]="data"
        [template]="tbodyTemplate"
        ></tbody> 
    </table>
  </div>
</div>

